.links{
    
    background-color: antiquewhite;
    height: 300px;
    
}

.links li{
   display: inline;
   color: red;
   padding: 0px;
   margin: 60px;
   background-color: aqua;
    
}


navbar{
    
    display: flex;
    background-color: blue;
    height: 30px;
    width: 100%;
    
    
}

#navbar-links li{
    
    color: white;
    display: inline-flex;
    background-color: red;
    height: 600px;
    width:  300px;
}


m-footer{
    
    background-color: greenyellow;
    color: white;
}